dist/main.exe
build/main/
dist/oconsole.exe
dist/Move HD.exe
build/oconsole/xref-oconsole.html
build/oconsole/warnoconsole.txt
build/oconsole/out00-PYZ.toc
build/oconsole/out00-PYZ.pyz
build/oconsole/out00-PKG.toc
build/oconsole/out00-PKG.pkg
build/oconsole/out00-EXE.toc
build/oconsole/out00-Analysis.toc
build/oconsole/oconsole.exe.manifest
